<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="m2y.centennial.healthowl">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".menu">
        </activity>

        <activity
            android:name=".patient.patientList"
            android:parentActivityName=".menu">
            <meta-data
                android:name="android.support.ParentACTIVITY"
                android:value=".menu"
            />



        </activity>
        <activity
            android:name=".patient.patientMain"
            android:parentActivityName=".patient.patientList">
            <meta-data
                android:name="android.support.ParentACTIVITY"
                android:value=".patientList"/>

        </activity>


        <activity
            android:name=".patient.MainAddPatient"
            android:parentActivityName=".patient.patientList">
        </activity>>

        <activity android:name=".patient.PatientFragmentAdapter">
        </activity>

        <activity android:name=".Login">

        </activity>


        <activity
            android:name=".patient.MainAddPatient1"
            android:parentActivityName=".patient.patientList">
        </activity>




        <activity
            android:name=".patient.MainAddPatient2"
            android:parentActivityName=".patient.MainAddPatient1">

        </activity>
        <activity
            android:name=".patient.MainAddPatient3"
            android:parentActivityName=".patient.MainAddPatient2">
        </activity>



        <activity android:name=".appointment.AppointmentTabs">
        </activity>
        <activity
            android:name=".appointment.MainAppointments"
            android:parentActivityName=".menu">
            <meta-data
                android:name="android.support.ParentACTIVITY"
                android:value=".menu" />
        </activity>

        <activity android:name=".appointment.AppTabs"
                  android:parentActivityName=".appointment.MainAppointments">
            <meta-data
                android:name="android.support.ParentACTIVITY"
                android:value=".menu" />

        </activity>
        <activity
            android:name=".appointment.AddAppointment"
            android:parentActivityName=".appointment.MainAppointments">
            <meta-data
                android:name="android.support.ParentACTIVITY"
                android:value=".appointment.MainAppointments"/>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="HealthOwl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".groups.GroupMainActivity"/>
        <activity android:name=".groups.GroupAdd"/>
        <activity android:name=".groups.GroupDetails">
        </activity>

        <activity
            android:name=".appointment.Add_Appointment_Main3"
            android:parentActivityName=".appointment.MainAppointments">
        </activity>

        <activity
            android:name=".appointment.Add_Appointment_Main2"
            android:parentActivityName=".appointment.MainAppointments">
        </activity>
        <activity
            android:name=".appointment.Add_Appointment_Main1"
            android:parentActivityName=".appointment.MainAppointments">
        </activity>

        <activity
            android:name=".appointment.App_detail"
            android:parentActivityName=".appointment.MainAppointments">
        </activity>

    </application>

</manifest>